spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:demo}
    username: ${POSTGRES_USR:postgres}
    password: ${POSTGRES_PASS:postgres}
  jpa:
    hibernate:
      ddl-auto: validate
    database: POSTGRESQL
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
        default_schema: bookings
    open-in-view: false
flights:
  response:
    limit: 25
logging:
  file:
    path: ${HOME:C:/Users/neonj}/Airport/logs
  level:
    com:
      app:
        airport: trace