spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/demo
    username: postgres
    password: 1303
  jpa:
    hibernate:
      ddl-auto: validate
    database: POSTGRESQL
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
        default_schema: bookings
flights:
  response:
    limit: 25